@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Roboto+Condensed:wght@300;700&display=swap");
:root {
  --margin--btn:16px;
  --magin--section: 106px;
  --pd-c: 32px;
  --height--header:102px;
  --height--header__scroll:70px;
  --ff-1: "Poppins", sans-serif;
  --ff-2: "Roboto Condensed", sans-serif;
  --fz-0: 12px;
  --fz-1: 13px;
  --fz-2: 14px;
  --fz-3: 15px;
  --fz-4: 16px;
  --fz-5: 18px;
  --fz-6: 24px;
  --fz-7: 36px;
  --fz-8: 40px;
  --fw-1:400;
  --fw-2:600;
  --fw-3:700;
  --color-1: white;
  --color-2: black;
  --color-3: #CFCFCF;
  --color-4: #C69E3F;
  --color-5: #1F222D;
  --color-5: #31343E;
  --color-6: #00344C;
  --color-7: #F4F8FC;
  --color-8: #C4C4C4;
  --color-9: #002A3A ;
  --color-10: #001A31;
  --color-11: #FAFAFA;
  --bg--color-0:black;
  --bg--color-1: linear-gradient(86.15deg, #957327 0%, #DFC47A 100%);
  --bg--color-2: rgba(255, 255, 255, 0.1);
  --bg-color-3: linear-gradient(150deg, #F4F6FD 0%, #E6ECFB 50%, #F4F6FD 75%) ;
}

@media only screen and (max-width: 480px) {
  :root {
    --pd-c: 15px;
    --magin--section: 20px;
    --fz-0: 10px;
    --fz-1: 11px;
    --fz-2: 12px;
    --fz-3: 13px;
    --fz-4: 14px;
    --fz-5: 16px;
    --fz-6: 20px;
    --fz-7: 32px;
    --fz-8: 36px;
  }
}
@media only screen and (max-width: 320px) {
  :root {
    --fz-0: 10px;
    --fz-1: 11px;
    --fz-2: 12px;
    --fz-3: 13px;
    --fz-4: 14px;
    --fz-5: 16px;
    --fz-6: 20px;
    --fz-7: 28px;
    --fz-8: 36px;
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 100%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  border: none;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 12px !important;
  color: var(--color-3);
  font-weight: var(--fw-2);
  padding: 0;
}

.swiper-button-next, .swiper-button-prev {
  width: 0 !important;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: 54px !important;
  right: auto;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: 54px !important;
  left: auto;
}

body {
  overflow-x: hidden;
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  position: relative;
}

.contact__floating {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  right: 16px;
  bottom: 20px;
  position: fixed;
}
.contact__floating div {
  cursor: pointer;
  transform: 0.4s;
  max-width: 64px;
  max-height: 64px;
  width: 4.444vw;
  height: 4.444vw;
  min-width: 44px;
  min-height: 44px;
  background-color: var(--color-1);
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact__floating div i {
  font-size: 25px;
}
.contact__floating div:nth-child(1) {
  cursor: pointer;
  display: none;
  width: 100%;
  font-size: 40px;
  font-weight: 700;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  color: var(--color-6);
  justify-content: center;
}
.contact__floating div:nth-child(2) {
  color: #357FFF;
}
.contact__floating div:nth-child(3) {
  color: var(--color-6);
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.theme {
  background-color: var(--color-6) !important;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.active2 {
  color: var(--color-4);
  display: flex !important;
}

.active3 {
  display: flex !important;
}

.active4 {
  color: var(--color-10) !important;
  font-weight: var(--fw-2) !important;
}

.active5 {
  display: block !important;
}

.active6 {
  color: var(--color-4) !important;
}

.active7 {
  display: flex !important;
}

.modal {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.modal-content {
  background-color: var(--color-1);
  max-width: 586px;
  max-height: 253px;
  min-width: 300px;
  min-height: auto;
  width: 40.486vw;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: var(--pd-c);
  padding: 32px 0;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.modal-content h3 {
  font-weight: var(--fw-3);
  font-family: var(--ff-2);
  font-size: var(--fz-6);
  color: var(--color-10);
  line-height: 32px;
  letter-spacing: 0.025em;
}
.modal-content p {
  font-size: var(--fz-3);
  color: var(--color-10);
  line-height: 22.5px;
  padding: 0 var(--pd-c);
}
.modal-content p span {
  font-weight: var(--fw-3);
}
.modal-content button {
  cursor: pointer;
  max-width: 522px;
  min-width: 200px;
  width: 36.25vw;
  height: 3.333vw;
  max-height: 48px;
  min-height: 38px;
  border: none;
  outline: none;
  font-family: var(--ff-1);
  font-size: var(--fz-2);
  font-weight: var(--fw-2);
  border-radius: 30px;
}

.btn__main {
  cursor: pointer;
  max-width: 234px;
  width: 16.319vw;
  height: 3.333vw;
  max-height: 48px;
  min-height: 48px;
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: var(--fz-2);
  font-weight: var(--fw-2);
  font-family: var(--ff-1);
  background: linear-gradient(86.15deg, #957327 0%, #DFC47A 100%);
  border-radius: 30px;
  position: relative;
  transition: 0.5s;
}
.btn__main .btn--background {
  display: block;
  position: absolute;
  background-color: var(--color-1);
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 99px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn__main .btn--name {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn__main:hover {
  transition: 0.5s !important;
  transition: background 0.5s ease-out;
  background: linear-gradient(86.15deg, #DFC47A 0%, #DFC47A 100%);
}

.btn--outline {
  transition: 0.5s;
  color: #CB9D37;
}

.btn--outline:hover, .btn--primary {
  color: var(--color-1);
  transition: 0.5s;
}
.btn--outline:hover .btn--background, .btn--primary .btn--background {
  opacity: 0;
  transition: 0.5s;
}

.btn--primary:hover .btn--background {
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  background-color: #DFC47A;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: var(--fz-3);
  font-weight: var(--fw1-1);
  font-family: var(--ff-1);
}

button {
  cursor: pointer;
}

.footer__content .footer__content__Contact {
  width: 100%;
  background-color: var(--color-6);
}
.footer__content .footer__content__Contact .footer__content__item {
  max-width: 1184px;
  padding: 0 var(--pd-c);
  display: flex;
  flex-direction: row;
  gap: var(--pd-c);
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-height: 60px;
  height: 100%;
  line-height: 120%;
  color: var(--color-1);
  font-size: var(--fz-1);
  letter-spacing: 0.8px;
  text-align: center;
}
.footer__content .footer__content__Contact .contact--workTime p {
  display: flex;
}
.footer__content .footer__content__Contact .contact--workTime p span:nth-child(1) {
  padding-right: 12px;
  border-right: 1px solid var(--color-1);
}
.footer__content .footer__content__Contact .contact--workTime p span:last-child {
  padding-left: 12px;
}
.footer__content .footer__content__Contact .contact--phonenumber {
  max-width: 191px;
  width: 100%;
  min-height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  justify-content: center;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.1);
}
.footer__content .footer__content__other {
  min-height: 200px;
  height: 100% vw;
  background-color: #B69046;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__content .footer__content__other .footer__content__media {
  margin-top: 65px;
  display: flex;
  flex-direction: row;
  gap: 48px;
}
.footer__content .footer__content__other .footer__content__media i {
  color: var(--color-1);
  font-size: 30px;
}
.footer__content .footer__content__other .footer__content__page {
  margin: 50px 0 61px 0;
}
.footer__content .footer__content__other .footer__content__page ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 103px !important;
}
.footer__content .footer__content__other .footer__content__page ul li a {
  white-space: nowrap;
  text-decoration: none;
  color: var(--color-1);
  line-height: 21px;
}
.footer__content .footer__content__other p {
  color: var(--color-1);
  opacity: 0.5;
  font-size: var(--fz-1);
  line-height: 16.34px;
  white-space: nowrap;
  margin-bottom: 15px;
}

@media only screen and (max-width: 980px) {
  .footer .footer__content .footer__content__Contact {
    align-items: center;
    justify-content: center;
  }
  .footer .footer__content .footer__content__Contact .footer__content__item {
    padding-top: 15px;
    padding-bottom: 15px;
    flex-direction: column;
  }
  .footer .footer__content .footer__content__Contact .contact--workTime p {
    display: flex;
    flex-direction: column;
    letter-spacing: 0.05em;
    line-height: 19.2px;
  }
  .footer .footer__content .footer__content__Contact .contact--workTime p span:nth-child(1) {
    padding-right: 0;
    border-right: 0px solid var(--color-1);
  }
  .footer .footer__content .footer__content__Contact .contact--workTime p span:last-child {
    padding-left: 0;
  }
  .footer .footer__content .footer__content__other .footer__content__media {
    margin-top: 30px;
  }
  .footer .footer__content .footer__content__other .footer__content__page {
    margin: 30px 0 31px 0;
  }
  .footer .footer__content .footer__content__other .footer__content__page .footer__content__pages {
    flex-direction: column;
    gap: 15px !important;
    text-align: center;
  }
}
.scrollNavbar {
  transition: all 0.4s ease;
  background-color: #002A3A;
  height: var(--height--header__scroll) !important;
}
.scrollNavbar .header-main {
  transition: 0.4s;
  padding: 10px var(--pd-c) !important;
}
.scrollNavbar .header-main img {
  transition: 0.4s;
  width: 82px;
  height: 50px;
}

.header {
  transition: 0.4s;
  width: 100%;
  position: fixed;
  height: var(--height--header);
  top: 0;
  margin: 0 auto;
  z-index: 99;
}
.header-main {
  display: flex;
  max-width: 1184px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 16px var(--pd-c);
  transition: 0.4s;
}
.header-main img {
  width: 116px;
  height: 70px;
  transition: 0.4s;
}
.header-main .logomb {
  display: none;
}
.header-main .header__menu {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.header-main .header__menu .header-main__menu {
  line-height: 19px;
  padding-right: 30px;
  list-style: none;
  position: relative;
}
.header-main .header__menu .header-main__menu .menu-item:last-child {
  position: absolute;
  right: 0;
}
.header-main .header__menu .header-main__menu .menu-item:last-child span {
  display: block;
  width: 1px;
  height: 19px;
  background-color: var(--color-1);
}
.header-main .header__menu .menu__right {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 49px;
  padding-left: 30px;
}
.header-main .header__menu .menu__right .menu-item .menu-link {
  white-space: nowrap;
  font-weight: var(--fw-2);
  color: var(--color-1);
  line-height: 23px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-main .header__menu .menu__right .menu-item .menu-link div:nth-child(2) {
  width: 23px;
  height: 23px;
  align-items: center;
  text-align: center;
  margin-left: 15px;
  background-color: var(--color-4);
  color: var(--color-1);
  font-size: 14px;
  font-weight: var(--fw-5);
  border-radius: 2px;
}
.header-main .header__menu .menu__right .menu-item .menu-link div:nth-child(2) p {
  width: 100%;
  height: 100%;
}
.header-main .header__menu .menu-item__language {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: relative;
}
.header-main .header__menu .menu-item__img {
  width: 33.33px;
  height: 20px;
}
.header-main .header__menu .menu-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background: none;
  color: var(--color-1);
  cursor: pointer;
}
.header-main .header__menu .menu-item__icon i {
  padding: 0;
  font-size: 20px;
}
.header-main .header__menu .menu-item .show__language {
  display: flex !important;
}
.header-main .header__menu .menu-item .item__language {
  display: none;
  align-items: center;
  width: 50px;
  height: 50px;
  top: 45px;
  right: 0;
  position: absolute;
  background-color: var(--color-1);
  color: var(--color-2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-main .header__menu .menu-item .item__language ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.header-main .header__menu .menu-item .item__language ul li {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.header-main .header__menu .menu-item .item__language ul li:hover {
  background-color: var(--color-4);
}
.header-main .nav-mobile {
  display: none;
  cursor: pointer;
}
.header-main__menu {
  gap: 48px;
}
.header-main__menu .menu-link {
  font-weight: var(--fw-2);
  color: var(--color-1);
  text-decoration: none;
  letter-spacing: 0.55px;
  white-space: nowrap;
}

@media only screen and (max-width: 1280px) {
  .header-main .header__menu .menu__right {
    gap: 30px;
  }
  .header-main__menu {
    transition: 0.4s;
    gap: 30px;
  }
}
@media only screen and (max-width: 1080px) {
  .header-main {
    justify-content: center;
    position: relative;
  }
  .header-main .nav-mobile {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: absolute;
    left: var(--pd-c);
    z-index: 2;
    transform-origin: 0 0;
  }
  .header-main .nav-mobile span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: var(--color-1);
    transition: 0.4s;
  }
  .header-main .nav-mobile:hover span:nth-child(2) {
    transform: translateX(10px);
    background-color: var(--color-4);
  }
  .header-main .nav-mobile.active9 span:nth-child(1) {
    transform: translate(2px, 5px) rotate(45deg);
  }
  .header-main .nav-mobile.active9 span:nth-child(2) {
    transform: translateX(50px);
    opacity: 0;
  }
  .header-main .nav-mobile.active9 span:nth-child(3) {
    transform: translate(1px, -7px) rotate(-45deg);
  }
  .header-main .logo {
    display: block;
  }
  .header-main .logomb {
    display: none;
    width: 116px;
    height: 70px;
    object-fit: contain;
  }
  .header-main .header__menu .navmobile {
    display: flex !important;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-6);
    width: 100vw;
    height: 100vh;
    inset: 0;
    z-index: 1;
    align-items: center;
    text-align: center;
    transform: 0.3s;
  }
  .header-main .header__menu .header-main__menu {
    display: none;
  }
  .header-main .header__menu .header-main__menu .menu-item {
    padding: 20px 0;
  }
  .header-main .header__menu .header-main__menu .menu-item a {
    text-align: center;
    color: var(--color-1);
  }
  .header-main .header__menu .menu__right {
    padding-left: 0;
    position: absolute;
    right: var(--pd-c);
    top: 50%;
    bottom: 50%;
  }
  .header-main .header__menu .menu__right .menu-item__language {
    display: none;
    z-index: 2;
  }
}
@media only screen and (max-width: 480px) {
  .scrollNavbar {
    background-color: #002A3A;
    height: 62px !important;
  }
  .scrollNavbar .header-main img {
    width: 26px;
    height: 42px;
  }
  .header {
    height: 62px;
  }
  .header-main {
    justify-content: center;
    position: relative;
    padding: 10px 15px;
  }
  .header-main .logo {
    display: none;
  }
  .header-main .logomb {
    display: block;
    width: 26px;
    height: 42px;
  }
}
.home {
  margin: 0 auto;
}

.main__home {
  max-width: 1440px;
  margin: 0 auto;
  background: url(/Assets/Images/bghome.png);
  background-repeat: no-repeat;
}

.banner {
  max-width: 1184px;
  margin: 0 auto;
  height: 907px;
}
.banner .container {
  position: relative;
}
.banner .banner-conten {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 806px;
  position: absolute;
  margin-top: var(--height--header);
}
.banner .banner-conten .banner-conten__title {
  max-width: 485px;
  min-width: 344px;
  display: flex;
  flex-direction: column;
  margin-top: 255px;
  gap: 10px;
  color: var(--color-1);
}
.banner .banner-conten .banner-conten__title h1 {
  font-family: var(--ff-2);
  font-size: var(--fz-8);
  line-height: 64px;
}
.banner .banner-conten .banner-conten__title p {
  width: 100%;
  line-height: 22.5px;
  color: var(--color-3);
}
.banner .banner-conten .banner-conten__img {
  margin-top: 53px;
  padding-right: 54px;
}
.banner .banner-conten .banner-conten__img img {
  max-width: 556px;
  min-width: 284px;
  width: 100%;
}

.video-intro {
  margin-top: 67px;
  max-width: 1184px;
  margin: 67px auto 0 auto;
}
.video-intro .video-content {
  max-width: 1184px;
  min-width: 304px;
  min-height: 185px;
  max-height: 642px;
}
.video-intro .video-content video {
  position: relative;
  width: 100%;
  height: 100%;
}
.video-intro .video-content .video-content__title {
  margin: 0 auto;
  max-width: 670px;
  text-align: center;
  position: relative;
  color: var(--color-1);
  bottom: 196px;
}
.video-intro .video-content .video-content__title h1 {
  font-family: var(--ff-2);
  font-size: var(--fz-7);
  font-weight: var(--fw-3);
  line-height: 43.2px;
  margin-bottom: 10px;
}
.video-intro .video-content .video-content__title p {
  text-align: center;
  margin: 0 auto;
  max-width: 605px;
  font-size: var(--fz-4);
  line-height: 160%;
}

.products {
  max-width: 1184px;
  margin: 106px auto 0 auto;
}
.products__content {
  max-width: 1185px;
  width: 100%;
  text-align: center;
  color: var(--color-1);
}
.products__content .content__title {
  font-family: var(--ff-2);
  font-size: var(--fz-7);
  font-weight: var(--fw-3);
  line-height: 43.2px;
}
.products__content .content__menu {
  text-align: center;
}
.products__content .content__menu ul {
  display: flex;
  justify-content: center;
  gap: 64px;
  margin: 23px 0 50px 0;
  font-size: var(--fz-4);
  font-weight: var(--fw-2);
  cursor: pointer;
}
.products__content .content__menu ul li:hover {
  color: var(--color-4);
}
.products__content .products__cart {
  display: none;
  justify-content: space-between;
  gap: 8px;
}
.products__content .product__cart--item {
  max-width: 389.67px;
  width: 100%;
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products__content .product__cart--item .item__img {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.products__content .product__cart--item .item__img img {
  width: 199.22px;
  height: 250px;
}
.products__content .product__cart--item .item__video {
  display: none;
  position: relative;
  max-width: 389.67px;
  width: 100%;
  height: 520px;
}
.products__content .product__cart--item .item__video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.products__content .product__cart--item:hover .item__video {
  display: block;
}
.products__content .product__cart--item:nth-child(1) {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #282A2E 100%), url(../../Images/bgphone1.png);
  border-radius: 3px;
}
.products__content .product__cart--item:nth-child(2) {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #282A2E 100%), url(../../Images/bgphone2.png);
  border-radius: 3px;
}
.products__content .product__cart--item:nth-child(3) {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #282A2E 100%), url(../../Images/bgphone3.png);
  border-radius: 3px;
}

.main__product--detail {
  width: 100%;
  margin: 155px auto 0 auto;
}
.main__product--detail .product__briefing {
  margin: 0 auto;
  max-width: 1184px;
  padding: 0 var(--pd-c);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 115px;
}
.main__product--detail .product__briefing .arrow_view__more {
  float: right;
  display: none;
  padding-top: 10px;
}
.main__product--detail .product__briefing .product__briefing__img {
  max-width: 589px;
}
.main__product--detail .product__briefing .product__briefing__img .mySwiper2 {
  max-width: 589px;
  max-height: 589px;
  width: 40.903vw;
  height: 40.903vw;
  margin-bottom: 18px;
}
.main__product--detail .product__briefing .product__briefing__img .mySwiper2 .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.main__product--detail .product__briefing .product__briefing__img .mySwiper2 .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.main__product--detail .product__briefing .product__briefing__img .mySwiper2 .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.main__product--detail .product__briefing .product__briefing__img .mySwiper {
  width: 100%;
}
.main__product--detail .product__briefing .product__briefing__img .mySwiper .swiper-slide-thumb-active {
  border: 1px solid #A5A5A5 !important;
}
.main__product--detail .product__briefing .product__briefing__img .mySwiper .swiper-wrapper2 {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 12px;
}
.main__product--detail .product__briefing .product__briefing__img .mySwiper .swiper-wrapper2 .swiper-slide {
  display: flex;
  justify-content: center;
  border: 1px solid #ffffff;
  padding: 9px;
  max-width: 60px;
  max-height: 60px;
  min-width: 40px;
  min-height: 40px;
  width: 4.167vw !important;
  height: 4.167vw;
  margin-right: 0 !important;
}
.main__product--detail .product__briefing .product__briefing__info {
  display: flex;
  align-items: flex-start;
  max-width: 485px;
}
.main__product--detail .product__briefing .product__briefing__info__content {
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 45px;
  justify-content: space-between;
  color: var(--color-10);
}
.main__product--detail .product__briefing .product__briefing__info__content .product--info__top .product--info__title {
  font-size: var(--fz-7);
  font-weight: var(--fw-3);
  font-family: var(--ff-2);
  line-height: 46.7px;
}
.main__product--detail .product__briefing .product__briefing__info__content .product--info__top .product--info__price {
  margin: 16px 0;
  font-family: var(--ff-1);
  font-size: var(--fz-6);
  font-weight: var(--fw-1);
  line-height: 31.2px;
}
.main__product--detail .product__briefing .product__briefing__info__content .product--info__top .product--info__option__color {
  display: flex;
  flex-direction: row;
  gap: 25px;
  width: 100%;
}
.main__product--detail .product__briefing .product__briefing__info__content .product--info__top .product--info__option__color .option--color__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 9px;
  color: #A5A5A5;
  font-weight: var(--fw-1);
  cursor: pointer;
}
.main__product--detail .product__briefing .product__briefing__info__content .product--info__top .product--info__option__color .option--color__item p {
  padding-right: 25px;
  line-height: 20.8px;
}
.main__product--detail .product__briefing .product__briefing__info__content .product--info__top .product--info__option__color .option--color__item span {
  display: block;
  min-width: 72.25px;
  width: 100%;
  height: 4px;
  border-radius: 15px;
}
.main__product--detail .product__briefing .product__briefing__info__content .product--info__top .product--info__option__color .color__border1 {
  background: linear-gradient(89.96deg, #4B4B4B 1.81%, #A1A1A1 74.47%, #8A8A8A 100.01%);
}
.main__product--detail .product__briefing .product__briefing__info__content .product--info__top .product--info__option__color .color__border2 {
  background: linear-gradient(90deg, #1C1B1B -0.02%, #414141 67.2%, #2D2C2C 100.03%);
}
.main__product--detail .product__briefing .product__briefing__info__content .product--info__top .product--info__option__color .color__border3 {
  background: linear-gradient(90deg, #BD369F -0.03%, rgba(117, 34, 99, 0.5) 108.05%);
}
.main__product--detail .product__briefing .product__briefing__info__content .product--info__mid {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.main__product--detail .product__briefing .product__briefing__info__content .product--info__mid .product--info__quantity {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 38px;
}
.main__product--detail .product__briefing .product__briefing__info__content .product--info__mid .product--info__quantity form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #F2F2F2;
  min-width: 132px;
  border-radius: 24px;
  height: 46px;
  min-height: 38px;
  position: relative;
}
.main__product--detail .product__briefing .product__briefing__info__content .product--info__mid .product--info__quantity form input {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: var(--ff-1);
  background: none;
  border: none;
  outline: none;
  text-align: center;
  font-size: var(--fz-4);
  font-weight: var(--fw-2);
}
.main__product--detail .product__briefing .product__briefing__info__content .product--info__mid .product--info__quantity button {
  font-family: var(--ff-1);
  cursor: pointer;
  border: none;
  padding: 0 20px;
  outline: none;
  background: none;
  font-size: var(--fz-4);
  font-weight: var(--fw-2);
  position: absolute;
  height: 100%;
}
.main__product--detail .product__briefing .product__briefing__info__content .product--info__mid .product--info__quantity button:nth-child(1) {
  left: 0;
}
.main__product--detail .product__briefing .product__briefing__info__content .product--info__mid .product--info__quantity button:last-child {
  right: 0;
}
.main__product--detail .product__briefing .product__briefing__info__content .product--info__mid .product--info__btn {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.main__product--detail .product__briefing .product__briefing__info__content .product--info__bottom .product--info__description {
  display: flex;
  flex-direction: column;
  gap: 24px;
  line-height: 24px;
}
.main__product--detail .product__briefing .product__briefing__info__content .product--info__bottom .product--info__description p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.main__product--detail .product__briefing .product__briefing__info__content .product--info__bottom .product--info__description p span {
  font-weight: var(--fw-3);
}
.main__product--detail .product__description {
  max-width: 1184px;
  padding: 0 var(--pd-c);
  margin: 96px auto var(--magin--section) auto;
}
.main__product--detail .product__description .product__description__content .pdc__tabs {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 48px;
  font-weight: var(--fw-2);
  font-family: var(--ff-2);
  color: #A5A5A5;
  padding-bottom: 14px;
  border-bottom: 1px solid #F2F2F2;
}
.main__product--detail .product__description .product__description__content .pdc__tabs h5 {
  position: relative;
  line-height: 23.4px;
}
.main__product--detail .product__description .product__description__content .pdc__tabs h5 .pdc__tab--border {
  position: absolute;
  bottom: -15px;
  width: 100%;
  height: 3px;
  background-color: var(--color-10);
  display: none;
}
.main__product--detail .product__description .product__description__content .prc__detail {
  max-width: 785px;
  margin: 48px auto 0 auto;
  display: none;
  flex-direction: column;
  line-height: 24px;
  gap: 48px;
}
.main__product--detail .product__description .product__description__content .prc__detail h1 {
  font-size: 100px;
  font-weight: 700;
  text-align: center;
  color: red;
}
.main__product--detail .product__description .product__description__content .prc__detail h3 {
  font-size: var(--fz-6);
  font-weight: var(--fw-2);
}
.main__product--detail .product__description .product__description__content .prc__detail h5 {
  font-size: var(--fz-4);
  font-weight: var(--fw-2);
}
.main__product--detail .product__description .product__description__content .prc__detail .prc__detail__section {
  display: flex;
  flex-direction: column;
}
.main__product--detail .product__description .product__description__content .prc__detail .prc__detail__section ul {
  padding-left: 30px;
}
.main__product--detail .product__description .product__description__content .prc__detail .prc__detail__section .prc__detail__decription {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.main__product--detail .our__accessories {
  max-width: 1184px;
  margin: 0 auto var(--magin--section) auto;
  color: var(--color-10);
  padding: 0 var(--pd-c);
}
.main__product--detail .our__accessories .our__accessories__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__product--detail .our__accessories .our__accessories__content h3 {
  font-size: var(--fz-7);
  font-weight: var(--fw-3);
  font-family: var(--ff-2);
  margin-bottom: 28px;
  letter-spacing: 0.025em;
  line-height: 42px;
  text-align: center;
}
.main__product--detail .our__accessories .our__accessories__content .our__accessories__products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
}
.main__product--detail .our__accessories .our__accessories__content .our__accessories__products .our__accessories__products__item {
  max-width: 585px;
  min-width: 400px;
  width: 50%;
  display: block;
  background-color: var(--color-11);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: var(--ff-1);
}
.main__product--detail .our__accessories .our__accessories__content .our__accessories__products .our__accessories__products__item .our__accessories__products__item__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 47px 0;
}
.main__product--detail .our__accessories .our__accessories__content .our__accessories__products .our__accessories__products__item .our__accessories__products__item__content img {
  max-height: 120px;
  min-height: 80px;
  height: 8.333vw;
}
.main__product--detail .our__accessories .our__accessories__content .our__accessories__products .our__accessories__products__item .our__accessories__products__item__content h5 {
  max-width: 300px;
  text-align: center;
  font-weight: var(--fw-2);
  font-size: var(--fz-5);
  margin: 16px 0;
  line-height: 23px;
  letter-spacing: 0.025em;
}
.main__product--detail .our__accessories .our__accessories__content .our__accessories__products .our__accessories__products__item .our__accessories__products__item__content p {
  font-weight: var(--fw-1);
  font-size: var(--fz-5);
  color: #525252;
  line-height: 27px;
}
.main__product--detail .our__accessories .our__accessories__content .our__accessories__products .our__accessories__products__item .our__accessories__products__item__content button {
  margin-top: 55px;
  line-height: 18px;
  outline: none;
  background: none;
  border: none;
  font-size: var(--fz-1);
  font-weight: var(--fw-2);
  color: var(--color-4);
  font-family: var(--ff-1);
}
.main__product--detail .other__collections {
  margin: 0 auto;
  padding: 74px 0;
  background-color: var(--color-11);
}
.main__product--detail .other__collections .other__collections__content {
  display: flex;
  margin: 0 auto;
  padding: 0 var(--pd-c);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-width: 1184px;
}
.main__product--detail .other__collections .other__collections__content h3 {
  font-size: var(--fz-7);
  font-weight: var(--fw-3);
  margin-bottom: 28px;
  color: var(--color-10);
  line-height: 42px;
  font-family: var(--ff-2);
  letter-spacing: 0.025em;
}
.main__product--detail .other__collections .other__collections__content .our__accessories__products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
}
.main__product--detail .other__collections .other__collections__content .our__accessories__products .our__accessories__products__item {
  max-width: 585px;
  width: 50%;
  position: relative;
}
.main__product--detail .other__collections .other__collections__content .our__accessories__products .our__accessories__products__item img {
  width: 100%;
  height: 100%;
}
.main__product--detail .other__collections .other__collections__content .our__accessories__products .our__accessories__products__item h5 {
  bottom: 24px;
  left: 32px;
  position: absolute;
  font-size: 20px;
  line-height: 42px;
  font-weight: 300;
  font-family: var(--ff-2);
  color: var(--color-1);
}
.main__product--detail .other__collections .other__collections__content .our__accessories__products .our__accessories__products__item h5 span {
  font-weight: var(--fw-3);
}

@media only screen and (max-width: 1080px) {
  .main__product--detail .product__briefing {
    gap: 80px;
  }
  .main__product--detail .our__accessories .our__accessories__content .our__accessories__products .our__accessories__products__item button {
    margin-top: 2vw;
  }
  .main__product--detail .our__accessories .our__accessories__content .our__accessories__products .our__accessories__products__item h5 {
    margin: 1vw 0;
  }
}
@media only screen and (max-width: 980px) {
  .main__product--detail .product__briefing {
    gap: 50px;
  }
  .main__product--detail .our__accessories .our__accessories__content .our__accessories__products {
    flex-direction: column;
  }
  .main__product--detail .our__accessories .our__accessories__content .our__accessories__products .our__accessories__products__item {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 220px;
  }
}
@media only screen and (max-width: 880px) {
  .main__product--detail .product__briefing {
    flex-direction: column;
    gap: 20px;
  }
  .main__product--detail .product__briefing .product__briefing__img {
    max-width: 100%;
    width: 100%;
  }
  .main__product--detail .product__briefing .product__briefing__img .mySwiper2 {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
  }
  .main__product--detail .product__briefing .product__briefing__img .mySwiper {
    max-width: 100%;
  }
  .main__product--detail .product__briefing .product__briefing__img .mySwiper .swiper-wrapper2 .swiper-slide {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
  }
  .main__product--detail .product__briefing .product__briefing__info .product__briefing__info__content .product--info__mid .product--info__btn button {
    min-width: 180px;
  }
  .main__product--detail .other__collections .other__collections__content .our__accessories__products {
    flex-direction: column;
  }
  .main__product--detail .other__collections .other__collections__content .our__accessories__products .our__accessories__products__item {
    max-width: 100%;
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .main__product--detail {
    margin: 100px auto 0 auto;
  }
  .main__product--detail .product__briefing {
    gap: 20px;
  }
  .main__product--detail .product__briefing .arrow_view__more {
    float: right;
    display: block;
  }
  .main__product--detail .product__briefing .arrow_view__more i {
    animation-name: arrow__view;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  .main__product--detail .product__briefing .product__briefing__info .product__briefing__info__content .product--info__mid .product--info__btn button {
    min-width: 130px;
  }
  .main__product--detail .product__briefing .product__briefing__info__content {
    padding-top: 10px;
  }
  .main__product--detail .product__briefing .product__briefing__info__content .product--info__mid .product--info__btn button {
    min-width: 130px;
    min-height: 38px;
  }
}
@media only screen and (max-width: 320px) {
  .main__product--detail {
    margin: 100px auto 0 auto;
  }
  .main__product--detail .product__briefing .product__briefing__info__content .product--info__mid .product--info__btn button {
    min-width: 120px;
  }
}
.cart .main__cart__page {
  margin: 0 auto;
  margin-top: calc(var(--magin--section) + 102px);
}
.cart .main__cart__page .product__list_cart {
  padding: 0 var(--pd-c);
  max-width: 1184px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.cart .main__cart__page .product__list_cart .product__list_cart__content h2 {
  font-size: var(--fz-7);
  font-family: var(--ff-2);
  font-weight: var(--fw-3);
  color: var(--color-10);
}
.cart .main__cart__page .product__list_cart .product__list_cart__content .cart__products {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
  flex-direction: row;
  margin: 56px 0 139px 0;
}
.cart .main__cart__page .product__list_cart .product__list_cart__content .cart__products .table__products {
  max-width: 785px;
  width: 100%;
}
.cart .main__cart__page .product__list_cart .product__list_cart__content .cart__products .table__products__head {
  max-height: 40px;
  height: 2.778vw;
  background-color: var(--color-11);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  font-size: var(--fz-0);
  font-weight: var(--fw-2);
  font-family: var(--ff-1);
  letter-spacing: 0.025em;
  color: #323232;
}
.cart .main__cart__page .product__list_cart .product__list_cart__content .cart__products .table__products__head .head__title:nth-child(1) {
  max-width: 298px;
  width: 20.694vw;
}
.cart .main__cart__page .product__list_cart .product__list_cart__content .cart__products .table__products__head .head__title:nth-child(2) {
  max-width: 160px;
  width: 11.111vw;
}
.cart .main__cart__page .product__list_cart .product__list_cart__content .cart__products .table__products__head .head__title:nth-child(3) {
  max-width: 132px;
  width: 9.167vw;
}
.cart .main__cart__page .product__list_cart .product__list_cart__content .cart__products .table__products__head .head__title:nth-child(4) {
  max-width: 165px;
  width: 11.458vw;
}
.cart .main__cart__page .product__list_cart .product__list_cart__content .cart__products .table__products__body:not(:last-child) {
  border-bottom: 1px dashed #CFCFCF;
}
.cart .main__cart__page .product__list_cart .product__list_cart__content .cart__products .table__products__body {
  display: flex;
  flex-direction: row;
  padding: 16px 0;
  border-style: dashed;
}
.cart .main__cart__page .product__list_cart .product__list_cart__content .cart__products .table__products__body .table__products--img {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  max-width: 308px;
  width: 21.389vw;
}
.cart .main__cart__page .product__list_cart .product__list_cart__content .cart__products .table__products__body .table__products--img img {
  max-width: 53px;
  width: 53px;
  padding: 10px 16px;
}
.cart .main__cart__page .product__list_cart .product__list_cart__content .cart__products .table__products__body .table__products--img .table__products--detail {
  line-height: 18.2px;
}
.cart .main__cart__page .product__list_cart .product__list_cart__content .cart__products .table__products__body .table__products--img .table__products--detail p:last-child {
  color: #868686;
}
.cart .main__cart__page .product__list_cart .product__list_cart__content .cart__products .table__products__body .table__products--price {
  max-width: 160px;
  width: 11.111vw;
  display: flex;
  align-items: center;
}
.cart .main__cart__page .product__list_cart .product__list_cart__content .cart__products .table__products__body .table__products--quantity {
  max-width: 132px;
  width: 9.167vw;
  display: flex;
  align-items: center;
}
.cart .main__cart__page .product__list_cart .product__list_cart__content .cart__products .table__products__body .table__products--total {
  max-width: 165px;
  width: 11.458vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.cart .main__cart__page .product__list_cart .product__list_cart__content .cart__products .table__products__body .table__products--total p {
  color: var(--color-4);
}
.cart .main__cart__page .product__list_cart .product__list_cart__content .cart__total {
  max-width: 385px;
  width: 100%;
  border: 1px solid #E1E1E1;
  border-radius: 3px;
  color: #333333;
}
.cart .main__cart__page .product__list_cart .product__list_cart__content .cart__total .cart__total--content {
  padding: 16px 15px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.cart .main__cart__page .product__list_cart .product__list_cart__content .cart__total .cart__total--content .cart__total--content--item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.cart .main__cart__page .product__list_cart .product__list_cart__content .cart__total .cart__total--content .cart__total--content--item .cart__total__Promotion .cart__total__btn {
  background: #FFFFFF;
  border: 1px solid #E1E1E1;
  border-radius: 30px;
  max-width: 217px;
  width: 15.069vw;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart .main__cart__page .product__list_cart .product__list_cart__content .cart__total .cart__total--content .cart__total--content--item .cart__total__Promotion .cart__total__btn input, .cart .main__cart__page .product__list_cart .product__list_cart__content .cart__total .cart__total--content .cart__total--content--item .cart__total__Promotion .cart__total__btn button {
  border: none;
  outline: none;
  background: none;
  font-size: 14px;
}
.cart .main__cart__page .product__list_cart .product__list_cart__content .cart__total .cart__total--content .cart__total--content--item .cart__total__Promotion .cart__total__btn input {
  padding: 0 28px 0 22px;
  max-width: 80px;
  font-weight: 400;
  font-size: 14px;
}
.cart .main__cart__page .product__list_cart .product__list_cart__content .cart__total .cart__total--content .cart__total--content--item .cart__total__Promotion .cart__total__btn button {
  cursor: pointer;
  padding: 0 22px 0 28px;
  color: var(--color-4);
  font-weight: 600;
}
.cart .main__cart__page .product__list_cart .product__list_cart__content .cart__total .cart__total--content .cart__total--content--item .cart__total__Total-payment p:nth-child(2) {
  font-size: 22px;
  font-weight: var(--fw-3);
  color: var(--color-4);
  line-height: 28.6px;
}
.cart .main__cart__page .product__list_cart .product__list_cart__content .cart__total .cart__total--content .cart__total--content--item .cart__total__button {
  max-width: 100%;
  width: 100%;
}
.cart .main__cart__page .product__list_cart .product__list_cart__content .cart__total .cart__total--content .cart__total--content--item .cart__total__button button {
  width: 100%;
  height: 48px;
  font-family: var(--ff-1);
  font-weight: 600;
  font-size: 14px;
  border: 2px solid;
  outline: none;
  border-radius: 30px;
}
.cart .main__cart__page .product__list_cart .product__list_cart__content .cart__total .cart__total--content .cart__total--content--item:nth-child(2) {
  padding: 16px 0;
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
}
.cart .main__cart__page .product__list_cart .product__list_cart__content .cart__total .cart__total--content .cart__total__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cart .main__cart__page .product__list_cart .product__list_cart__content .cart__total .cart__total--content .cart__total__item p:nth-child(2) {
  font-weight: var(--fw-2);
  color: #001A31;
}
.cart .main__cart__page .information {
  background-color: var(--color-11);
  width: 100%;
  margin: 0 auto;
}
.cart .main__cart__page .information .information__content {
  margin: 0 auto;
  padding: 32px 0;
  max-width: 1184px;
  text-align: center;
}
.cart .main__cart__page .information .information__content h3 {
  font-family: var(--ff-2);
  font-size: var(--fz-6);
  font-weight: var(--fw-2);
  line-height: 31.2px;
}
.cart .main__cart__page .information .information__content .information__content__detail {
  max-width: 585px;
  width: 40.625vw;
  line-height: 24px;
  margin: 16px auto;
}
.cart .main__cart__page .information .information__content .information__method {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 16px;
  margin: 16px 0 0px 0;
}
.cart .main__cart__page .information .information__content .information__method .information__method__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  max-width: 384.33px;
  width: 26.69vw;
  max-height: 163px;
  height: 11.319vw;
  background-color: var(--color-6);
  color: var(--color-1);
}
.cart .main__cart__page .information .information__content .information__method .information__method__item img {
  max-width: 48px;
}
.cart .product--info__quantity {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 38px;
}
.cart .product--info__quantity form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #F2F2F2;
  min-width: 100px;
  border-radius: 24px;
  height: 29px;
}
.cart .product--info__quantity form input {
  display: flex;
  justify-content: center;
  max-width: 18px;
  width: 100%;
  font-family: var(--ff-1);
  background: none;
  border: none;
  outline: none;
  text-align: center;
  font-size: var(--fz-4);
  font-weight: var(--fw-2);
}
.cart .product--info__quantity button {
  font-family: var(--ff-1);
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: var(--fz-4);
  font-weight: var(--fw-2);
}
.cart .product--info__quantity button:nth-child(1) {
  padding: 4px 13px 4px 20px;
}
.cart .product--info__quantity button:last-child {
  padding: 4px 20px 4px 13px;
}

@media only screen and (max-width: 1080px) {
  .cart .main__cart__page .product__list_cart .product__list_cart__content .cart__products {
    flex-direction: column;
  }
  .cart .main__cart__page .product__list_cart .product__list_cart__content .cart__products .table__products {
    max-width: 100%;
    width: 100%;
  }
}

/*# sourceMappingURL=app.css.map */
